extends layout


block content
    div(class="btn-toolbar")
        a(href="login")
            button(type="button" class="btn btn-primary btn-lg active mr-2") Login
        a(href="register")
            button(type="button" class="btn btn-primary btn-lg active mr-2") Register