doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    script(src="/js/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/javascripts/bootstrap-table.js")

  body
    div.container.listing-reg
      h1 Login or Register !
      block content